html,
body {
    margin: 0;
    height: -webkit-fill-available;
    z-index: 1 !important;

    padding: 0;
    display: flex;
    flex-direction: column;
}

[x-cloak] {
    display: none !important;
  }


.snowflake {
    z-index: -1 !important; /* Ensure snowflakes are behind everything else */
  }
  
  

html {
    scroll-behavior: smooth;
    height: calc(var(--vh, 1vh) * 100);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #a83232;
    border-radius: 20px;
    border: 3px solid #111;
}


/* Change the background color of selected text */
::selection {
    background: #ff0000;
    /* red */
    color: white;
    /* optional: change text color to white when selected */
}

/* Removing focus outline */
a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
    font-size: 16px;
    /* minimum size to prevent zoom on iOS Safari */
    /* Removes the outline */
    /* Optional: add a different focus style, like a border or background change */
    background-color: rgba(255, 0, 0, 0.1);
    /* subtle red background */
}


/* Inline style block or in your external stylesheet */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none !important;
    appearance: none !important;
}

body>#content {
    flex: 1;
}

#content {
    flex-grow: 1;
}

main {
    min-height: 80vh;
    flex-direction: column;
}

#footer {
    flex-shrink: 0;
    position: relative;
    margin-top: 16px;

    /* Prevents the footer from shrinking */
}

#topbutton {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Changed from fixed to absolute */
    left: 50%;
    /* Center horizontally */
    bottom: 95%;
    /* Position at the bottom of the footer */
    transform: translateX(-50%);
    /* Adjust horizontal position to the exact center */
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.536);
    border-radius: 20px;
    /* Circular shape */
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

#topbutton:hover {
    transform: translateX(-50%) translateY(-10px);
    /* Move up on hover */
    background-color: #55555536;
    /* Color change on hover */
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
    color: #777
}


.overlay-bg {
    background: url('https://cdn.imperfectgamers.org/inc/assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    /* Adding an overlay to darken the background */
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6); /* You can adjust the last value to increase or decrease the darkness */
}


.primary-btn {
    padding: 20px 70px;
    border-radius: 80px;
    background: 0 0;
    border: 2px solid #8e2825;
    color: white;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5em;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer
}

.primary-btn:hover {
    background: #8e2825;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(60, 64, 143, .2);
    text-decoration: none;
}

.card:hover,
.card:focus {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Modern and clean font */
    margin: 20px auto;
    padding: 20px;
    /* Default padding */
    border-radius: 8px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        padding: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        padding: 24px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        padding: 28px;
    }
}

/* Responsive adjustments */
@media (max-width: 600px) {

    /* Mobile: Adjust the breakpoint if needed */
    .container {
        padding: 10px;
        /* Less padding on smaller screens */
    }

    .sidebar-maps-list {
        max-height: 100px !important;
        /* Adjust this value to fit 3-4 map names */
        overflow-y: scroll;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

    /* Tablets: Adjust the breakpoints if needed */
    .container {
        padding: 15px;
        /* Slightly more padding than mobile */
    }
}

@media (min-width: 1025px) {

    /* Desktop and up: Adjust the breakpoint if needed */
    .container {
        padding: 20px;
        /* Default padding for larger screens */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        padding: 32px;
    }
}


.section-header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    /* Make the line more visible */
    padding-bottom: 15px;
    /* Increase padding for visual comfort */
    margin-bottom: 25px;
    /* Increase margin for more space */
}

.thread-item {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.thread-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.thread-details {
    color: #999;
}

@supports(padding: max(0px)) {
    .post {
        padding-left: max(12px, env(safe-area-inset-left));
        padding-right: max(12px, env(safe-area-inset-right));
        height: calc(100% + (var(--safe-area-inset-top) + var(--safe-area-inset-bottom)));
    }
}

.post>h2 {
    background-color: #e74c3c;
    /* Background color that stands out */
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    /* White text */
    display: inline-block;
}

.post-content {
    background: rgba(255, 255, 255, 0.05);
    /* Slightly visible on dark background */
    border-radius: 4px;
    /* Softened edges */
    padding: 10px;
    /* Space around text */
    font-size: 1rem;
    /* Readable text size */
    color: #E0E0E0;
    /* Light grey for readability */
}


.page-item {
    margin: 0 5px;
    /* Adds a little space between page items */
}

/* Pagination: Make it more thumb-friendly on mobile */
.page-item a.page-link {
    padding: 10px 15px;
    /* Larger area for mobile users */
    background-color: #444444;
    /* Distinct background */
    color: #FFFFFF;
    /* High contrast for readability */
    border-radius: 20px;
    /* More pronounced rounded corners */
    border: none;
    /* Remove border */
    transition: background-color 0.3s;
    /* Smooth background transition */
}

.page-item.active a.page-link,
.page-item a.page-link:hover {
    background-color: #FF6347;
    /* Vibrant color for active/hover state */
}

.page-item.disabled a.page-link {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.page-item.disabled a.page-link,
.page-item.active a.page-link {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

/* Disabled page numbers style */
.page-item.disabled .page-link {
    opacity: 0.5;
    /* Half transparent */
    cursor: not-allowed;
    /* Show no action can be taken */
}

/* Links and interactive elements */
a.thread-item,
.page-link {
    border-radius: 4px;
    /* Subtle rounded corners */
    padding: 10px 15px;
    /* Comfortable padding */
    margin: 8px 0;
    /* Spacing between elements */
    display: block;
    /* Block-level for better tap targets on mobile */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

/* UGIFYAEWIGFBGFOHBGUFGEUBEFR */

.profile-section {
    backdrop-filter: blur(5px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    /* Lighter than the section background for better readability */
    border-radius: 5px;
    margin-bottom: 30px;
}

/* Alias username styles */
.additional-usernames {
    font-size: 1em;
    /* Smaller font size for less emphasis */
    color: #CCCCCC;
    /* Lighter color for aliases */
    margin-bottom: 1em;
    /* More space before the next section */
}

.profile-avatar {
    /* Aligns the avatar to the right side of the header */
    margin-left: auto;
}

.avatar-image {
    max-width: 100%;
    /* Makes the image responsive */
    width: 100px;
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 50%;
    object-fit: cover;
}

.profile-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.profile-section ul {
    list-style-type: none;
    padding: 0;
}

.profile-section ul li {
    list-style-type: none;
    /* Removes list bullet */
    /*background-color: rgba(0, 0, 0, 0.5);  or any color that fits your design */
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    /* Adjust font size if needed */
    color: #ffffff;
    /* Text color */
}


.profile-section li {
    list-style-type: none;
    /* Removes list bullet */
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Optional: adds a subtle border for definition */
}

.associated-emails small.explanation {
    display: block;
    margin-top: 10px;
    font-size: 0.8em;
    color: #ccc;
}


.main-username {
    font-size: clamp(1rem, 2.5vw, 1.5em);
    /* Adjusts between 1rem and 1.5em depending on viewport width */
    font-weight: bold;
    /* Bold for emphasis */
    color: #FFFFFF;
    /* White color */
    margin-bottom: 0.5em;
    /* Add space below the main username */
}

.view-all {
    display: block;
    background-color: #444;
    /* Dark background for contrast */
    color: #fff;
    /* White text */
    text-align: center;
    padding: clamp(5px, 2.5vw, 10px);
    /* Adjusts padding responsively */
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;

    /* Responsive adjustments */
    width: auto;
    /* Auto-width to fit content */
    max-width: 200px;
    /* Maximum width */
    font-size: 0.8em;
    /* Smaller font size */
}



.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 9999px;
    font-weight: 500;
    font-size: 0.875rem;
    /* 14px */
    cursor: pointer;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* add vendor prefix for Safari */
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.123);
}

.cta-button .icon {
    margin-left: 1rem;
}

/* Touch devices with hover capability */
@media (hover: hover) and (pointer: fine) {
    .cta-button:hover {
        background-color: rgba(255, 255, 255, 0.123);
    }
}

/* Touch devices without hover capability */
@media (hover: none) {
    .cta-button:active {
        background-color: rgba(255, 255, 255, 0.123);
    }
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
}


/* Logo Styles */
.nav-logo img {
    max-width: 120px;
    z-index: 2;
}

/* Navigation Links */
.nav-links {
    display: flex;
    z-index: 2;
    position: relative;
}

.nav-links a {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ddd;
}

/* Bottom border under navbar */
.navbar:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background: red;
    z-index: 3;
}

/* Remove the individual gradients since we're using an overlay for both sides */
.navbar::before,
.navbar::after {
    display: none;
}

/* Add border to both ends */
.navbar {
    background: linear-gradient(to right, rgb(169 42 42 / 79%), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgb(169 42 42 / 79%));
    border-bottom: 1px solid red;
    /* Adjust the color and thickness as needed */
}

.ig_logo {
    --animate-duration: 0.3s;
}

.search-input {
    background-color: #121212;
    /* Dark gray background */
    border: 1px solid #333;
    /* Dark gray border */
}

.bonus-button {
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.bonus-button:hover {
    background-color: #555;
}

.bonus-button.active {
    background-color: #f00;
}

