Options +FollowSymLinks -MultiViews +Indexes

RewriteEngine On

# Redirect www to non-www and enforce HTTPS for all requests, including those to /store
RewriteCond %{HTTP_HOST} ^www\.(imperfectgamers\.org) [NC]
RewriteRule ^ https://imperfectgamers.org%{REQUEST_URI} [R=301,L,NE]

RewriteCond %{HTTPS} off
RewriteRule ^ https://imperfectgamers.org%{REQUEST_URI} [R=301,L,NE]

# Discord redirect
RewriteRule ^discord/?$ https://discord.com/invite/yb524Ax [R=301,L,NE]

# Internally rewrite any request to index.php without changing the URL in the address bar
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
