.credits {
  padding: $theme-credits-padding;
  min-width: 100px;
  width: auto;
  text-align: center;
  color: $theme-credits-color;
  background-color: $theme-credits-background;
  font-weight: bold;
}