.categoryLink {
  width: auto;
  height: 40px;
  padding: $theme-category-link-padding;
  color: $theme-category-link-color;
  display: inline-block;
  background-color: $theme-category-link-background;
  border: 0px;
}