.info-box {
  width: 100%;
  height: auto;
  padding: $theme-info-box-padding;
  background: $theme-info-box-background;
  margin-top: 15px;
  border-left: $theme-info-box-border-left;
}

.darker-box {
  width: 100%;
  height: auto;
  padding: $theme-darker-box-padding;
  background: $theme-darker-box-background;
  margin-top: 15px;
  margin-bottom: 10px;
}